@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

<div class="container">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }

@if (HttpContextAccessor.HttpContext.Session.GetString("CusId") == null)
{
    <div class="text-center" >
        <div class="display-4">Zteam</div>

        <form asp-controller="Home" asp-action="login" method="post">
            <div class=" row justify-content-center m-3">
                <div class="col-lg-4">
                    <div class="input-group">
                        <div class="input-group-text"><i class="bi bi-person-circle"></i></div>
                        <input type="text" placeholder="UserName" name="userName" class="form-control" required />
                    </div>
                </div>
            </div>
            <div class=" row justify-content-center m-3">
                <div class="col-lg-4">
                    <div class="input-group">
                        <div class="input-group-text"><i class="bi bi-unlock-fill"></i></div>
                        <input type="password" placeholder="Password" name="userPass" class="form-control" required />
                    </div>
                </div>
            </div>
            <div class=" row justify-content-center m-0">
                <div class="col-lg-2">
                    <button type="button" class="btn btn-link">สมัครใช้งาน
                            <a class= href="/Home/SignUp"></a>
                        </button>
                </div>
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>

    </div>
}
    else
    {
        <div class="display-3">Welcome K.@HttpContextAccessor.HttpContext.Session.GetString("CusName")</div>
    }


</div>